<section class="main-box row-fluid">
	<section class="span7 left">
		<h3>{{ nick_name }}[{{ id }}]</h3>
		<ul class="nav nav-tabs" role="tablist">
		  <li class="active"><a href="#friend" role="tab" data-toggle="tab">Friend</a></li>
		  <li><a href="#group" role="tab" data-toggle="tab">Group</a></li>
		</ul>

		<div class="tab-content">
		  <div class="tab-pane active" id="friend">
		  	<ul>
			  	<li v-for="friend in friends" v-on:click="fclick" id="{{ friend.ID }}">
			  		<a>
			  			{{ friend.NICK_NAME }}[{{ friend.ID }}]
			  		</a>
		  		</li>
	  		</ul>
		  </div>
		  <div class="tab-pane" id="group">
		  	<ul>
		  		<li v-for="group in groups" v-on:click="gclick" id="{{ group.GROUP_ID }}">
		  			<a>
						{{ group.NAME}}[{{ group.GROUP_ID }}]
					</a>
				</li>
			</ul>
		  </div>
		</div>
	</section>
	<section class="span5 right">
		<div id="content" v-el:content>
			<ul>
				<li v-for="m in current_message" class="{{m.msg.from_user_id==id}}">
					
						<span>{{ m.msg.from_user_id }}  {{ m.msg.timestamp }}</span>

						<div v-if="m.msg.message_type=='text'">
							<p>{{m.msg.message}}</p>
						</div>
						
						<div v-if="m.msg.message_type=='file'">
							<img src={{m.msg.message.url}}></img>
						</div>
				</li>
			</ul>
		</div>
		<div class="input-area">
            <textarea id="textarea" v-model="imessage"></textarea>
        </div>
        <form id="fform" action="/api/v1/upload" method="post" enctype="multipart/form-data" v-el:fform>
     		<input type="file" size="60" id="file" name="file" accept="image/gif, image/jpeg, image/png" v-el:file>
 		</form>

        <button id="btn-send" v-on:click="send">发送</button>
	</section>
</section>