*{margin:0;padding: 0;}

body{background: #444 url(http://sandbox.runjs.cn/uploads/rs/418/nkls38xx/carbon_fibre_big.png);font-family:"宋体";}

.login-box{
	width:420px;
	height:230px;
	padding:0 20px;
	border:1px solid #fff; 
	color:#000; 
	margin-top:40px; 
	border-radius:8px;
	background: white;
	box-shadow:0 0 15px #222; 
	background: -moz-linear-gradient(top, #fff, #efefef 8%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));
	font:11px/1.5em 'Microsoft YaHei' ;
	position: absolute;
	left:50%;top:50%;
	margin-left:-210px;
	margin-top:-115px;
}
.login-box h2{
	height:45px;
	font-size:20px;
	font-weight:normal;
}
.login-box .left{
	border-right:1px solid #ccc;
	height:100%;
	padding-right:20px; 
}
.reg-btn{
	margin-top:21px;
}


.main-box{
	width:600px;
	height:420px;
	padding:0 20px;
	border:1px solid #fff; 
	color:#000; 
	margin-top:40px; 
	border-radius:8px;
	background: white;
	box-shadow:0 0 15px #222; 
	background: -moz-linear-gradient(top, #fff, #efefef 8%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#f6f6f6), to(#f4f4f4));
	font:11px/1.5em 'Microsoft YaHei' ;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-210px;
	margin-top:-150px;
}

.main-box .left{
	border-right:1px solid #ccc;
	height:100%;
	width: 30%;
	padding-right:20px; 
}
.main-box .right{
	height:100%;
	width: 70%;
}

textarea{
	width:98%;
	height: 100px;
}

.main-box .input-area{
	position: absolute;
	bottom: 50px;
	left:32%;
	right:10px;

}

#content{
	position: absolute;
	top: 10px;
	left:32%;
	height: 250px;
	right:10px;
	overflow-y:auto;
}

#content li{
	list-style-type:none;
}


#content li.true{
	color: #00f;
}

#btn-send{
	position: absolute;
	bottom: 10px;
	right:10px;
}

#fform{
	position: absolute;
	bottom: -15px;
	left:210px;
}

.tab-content ul li a {
 display:block;
}

.tab-content ul li a:hover, .tab-content ul li a:focus {
 color:red;
}







